<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Poblacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @if(countries().length>0){
        @for(country of countries();track country.cca2; let i = $index){
          <tr [class.bg-base-200]="i % 2 === 0" >
            <th>{{i+1}}</th>
            <td><i><img class="w-2.5" src="{{country.icono}}" alt="Flag of {{country.name}}" /></i></td>
            <td><img class="w-[30px]" src="{{country.bandera}}" alt=""></td>
            <td>{{country.name}}</td>
            <td>{{country.capital}}</td>
            <td><span class="badge badge-lg">{{country.population | number}}</span></td>
            <td>
              <a class="btn btn-dash">Más información</a>
          </tr>
        }
      }@else{
        <span class="text-center">{{isError()?.message}}</span>
      }
      <!-- row 1 -->
    </tbody>
  </table>
</div>
